.nextBtn {
    position: absolute;
    width: 8vw;
    bottom: clamp(1rem, 5vh, 5rem);
    left: 3.5vw;
    z-index: 10;
    font-family: "Fredoka", sans-serif;
    cursor: pointer;
    transition: transform 0.18s;
}

.backBtn {
    position: absolute;
    width: clamp(4.8rem, 8vw, 8rem);
    bottom: clamp(1rem, 5vh, 5rem);
    right: 3.5vw;
    z-index: 50;
    cursor: pointer;
    transition: transform 0.18s ease;
}

.nextBtn:hover,
.backBtn:hover {
    transform: scale(1.05);
}