
.homeBtn {
    width: 4vw;
    position: absolute;
    right: 1.5vw;
    top: 2vh;
    transition: transform 0.18s, filter 0.18s ease;
    cursor: pointer;
}

.homeBtn:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 0.3rem #bd813265) drop-shadow(0 0 0.6rem #d4882491);
}