@font-face {
    font-family: "RinatZigdon";
    src: url("./assets/fonts/RinatZigdon.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

* {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: "Fredoka", sans-serif;
}

html {
    font-size: calc(1vh + 0.5vw);
}

.app {
    background-color: #FFFCE9;
    min-height: 100vh;
    width: 100vw;
}

.logos {
    position: fixed;
    top: 1vw;
    left: 1vw;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    z-index: 100;
}

.peer {
    height: 5vw;
}

.madorTil {
    height: 4.9vw;
}

::selection {
    background-color: #C5571C;
    color: white;
}

/* .main-header-text {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    color: #073799;
    font-family: "Rubik", "sans-serif";
    font-size: clamp(2rem, 3vw, 3rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    z-index: 10;
} */

.loading {
    white-space: nowrap;
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    color: #88563B;
    font-family: "Fredoka";
    font-size: clamp(1.5rem, 5vw, 4rem);
    font-style: normal;
    line-height: normal;
}

.app-loading {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    background: #FFFCE9;

    color: #65ACC7;

    font-family: "PloniB";
    font-size: 1.2rem;
}


.app-loading-spinner {
    width: 2.5rem;
    height: 2.5rem;

    border: 0.3rem solid rgba(46, 134, 166, 0.2);
    border-top-color: #65ACC7;

    border-radius: 50%;

    animation: loading-spin 0.8s linear infinite;
}


@keyframes loading-spin {
    to {
        transform: rotate(360deg);
    }
}